{% extends "enroll/base.html" %}
{% load static %}
{% block content %}
  <div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ab sequi?
       Sequi aliquam, ullam alias temporibus itaque fugiat ipsum soluta architecto 
       a. Animi laborum, exercitationem officia perspiciatis voluptate, distinctio 
       corrupti facere eligendi necessitatibus, voluptatum deserunt adipisci eum 
       praesentium! Ipsam qui nostrum eius quasi saepe sequi dolores, omnis 
       
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ab nesciunt, 
        maiores maxime consectetur inventore minus saepe eaque facere voluptates?</p>
{% endblock content %}